@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  background-color: #c5afc5;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-size: 500%;
  color: #961d59;
  margin-left: 550px;
  font-weight: bold;
  letter-spacing: 0.4em;
}
